@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-outline: #ffffff;
    --color-secondary-fixed: #ffffff;
    --color-on-primary-fixed-variant: #ffffff;
    --color-secondary-fixed-dim: #ffffff;
    --color-primary-fixed: #ffffff;
    --color-surface-container-lowest: #ffffff;
    --color-on-background: #ffffff;
    --color-on-secondary: #ffffff;
    --color-primary: #ffffff;
    --color-surface-container: #ffffff;
    --color-surface-container-highest: #ffffff;
    --color-surface-container-low: #ffffff;
    --color-primary-fixed-dim: #ffffff;
    --color-on-tertiary-container: #ffffff;
    --color-surface-bright: #ffffff;
    --color-secondary: #ffffff;
    --color-on-primary-fixed: #ffffff;
    --color-on-surface-variant: #ffffff;
    --color-outline-variant: #ffffff;
    --color-on-error: #ffffff;
    --color-on-tertiary: #ffffff;
    --color-tertiary-fixed-dim: #ffffff;
    --color-tertiary: #ffffff;
    --color-on-tertiary-fixed-variant: #ffffff;
    --color-surface-tint: #ffffff;
    --color-error: #ffffff;
    --color-on-secondary-fixed-variant: #ffffff;
    --color-on-error-container: #ffffff;
    --color-on-primary: #ffffff;
    --color-surface-variant: #ffffff;
    --color-on-primary-container: #ffffff;
    --color-on-tertiary-fixed: #ffffff;
    --color-background: #ffffff;
    --color-error-container: #ffffff;
    --color-primary-container: #ffffff;
    --color-surface-container-high: #ffffff;
    --color-inverse-on-surface: #ffffff;
    --color-tertiary-container: #ffffff;
    --color-on-secondary-container: #ffffff;
    --color-inverse-primary: #ffffff;
    --color-tertiary-fixed: #ffffff;
    --color-surface-dim: #ffffff;
    --color-on-surface: #ffffff;
    --color-secondary-container: #ffffff;
    --color-inverse-surface: #ffffff;
    --color-on-secondary-fixed: #ffffff;
    --color-surface: #ffffff;
  }
.theme-morning {
  --color-outline: #6c7a71;
  --color-secondary-fixed: #c3ecd7;
  --color-on-primary-fixed-variant: #005236;
  --color-secondary-fixed-dim: #a8cfbc;
  --color-primary-fixed: #6ffbbe;
  --color-surface-container-lowest: #ffffff;
  --color-on-background: #002117;
  --color-on-secondary: #ffffff;
  --color-primary: #006c49;
  --color-surface-container: #bbfbe1;
  --color-surface-container-highest: #b0f0d6;
  --color-surface-container-low: #cbffe8;
  --color-primary-fixed-dim: #4edea3;
  --color-on-tertiary-container: #2f3b39;
  --color-surface-bright: #e7fff3;
  --color-secondary: #416656;
  --color-on-primary-fixed: #002113;
  --color-on-surface-variant: #3c4a42;
  --color-outline-variant: #bbcabf;
  --color-on-error: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed-dim: #bcc9c6;
  --color-tertiary: #55615f;
  --color-on-tertiary-fixed-variant: #3d4947;
  --color-surface-tint: #006c49;
  --color-error: #ba1a1a;
  --color-on-secondary-fixed-variant: #294e3f;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-surface-variant: #b0f0d6;
  --color-on-primary-container: #00422b;
  --color-on-tertiary-fixed: #121e1c;
  --color-background: #e7fff3;
  --color-error-container: #ffdad6;
  --color-primary-container: #10b981;
  --color-surface-container-high: #b6f6db;
  --color-inverse-on-surface: #befee3;
  --color-tertiary-container: #98a5a3;
  --color-on-secondary-container: #476c5b;
  --color-inverse-primary: #4edea3;
  --color-tertiary-fixed: #d8e5e2;
  --color-surface-dim: #a8e7cd;
  --color-on-surface: #002117;
  --color-secondary-container: #c3ecd7;
  --color-inverse-surface: #003829;
  --color-on-secondary-fixed: #002115;
  --color-surface: #e7fff3;
}

.theme-evening-light {
  --color-on-background: #1b1c1a;
  --color-on-tertiary-fixed-variant: #524437;
  --color-tertiary-fixed: #f4dfcd;
  --color-tertiary: #6b5c4e;
  --color-surface-container-high: #eae8e4;
  --color-primary: #745b1c;
  --color-primary-container: #c2a35d;
  --color-outline: #7e7667;
  --color-on-surface: #1b1c1a;
  --color-on-tertiary-fixed: #24190f;
  --color-surface-variant: #e4e2de;
  --color-on-secondary: #ffffff;
  --color-error-container: #ffdad6;
  --color-tertiary-fixed-dim: #d7c3b2;
  --color-on-secondary-container: #6e6147;
  --color-surface-tint: #745b1c;
  --color-primary-fixed-dim: #e4c379;
  --color-on-tertiary-container: #47392d;
  --color-surface-container: #efeeea;
  --color-inverse-primary: #e4c379;
  --color-inverse-on-surface: #f2f0ed;
  --color-surface-container-highest: #e4e2de;
  --color-on-primary-fixed-variant: #5a4304;
  --color-surface: #fbf9f5;
  --color-secondary: #6a5d43;
  --color-surface-container-lowest: #ffffff;
  --color-on-error: #ffffff;
  --color-primary-fixed: #ffdf9a;
  --color-on-primary-container: #4d3900;
  --color-on-secondary-fixed: #231a06;
  --color-surface-dim: #dbdad6;
  --color-secondary-container: #f0debd;
  --color-error: #ba1a1a;
  --color-on-primary: #ffffff;
  --color-surface-bright: #fbf9f5;
  --color-on-tertiary: #ffffff;
  --color-secondary-fixed-dim: #d6c4a5;
  --color-inverse-surface: #30312e;
  --color-secondary-fixed: #f3e0c0;
  --color-on-secondary-fixed-variant: #51452d;
  --color-background: #fbf9f5;
  --color-outline-variant: #d0c5b4;
  --color-surface-container-low: #f5f3ef;
  --color-on-surface-variant: #4d4639;
  --color-tertiary-container: #b6a393;
  --color-on-primary-fixed: #251a00;
  --color-on-error-container: #93000a;
}

.theme-night {
  --color-secondary-container: #414b45;
  --color-surface-dim: #131313;
  --color-on-primary-fixed-variant: #56404c;
  --color-surface-bright: #393939;
  --color-on-secondary-fixed-variant: #3f4943;
  --color-tertiary-container: #412d00;
  --color-outline-variant: #4d4448;
  --color-primary-container: #3e2a35;
  --color-on-primary: #3f2a35;
  --color-inverse-primary: #705864;
  --color-on-primary-container: #ac909e;
  --color-secondary-fixed-dim: #bec9c0;
  --color-on-surface-variant: #d0c3c8;
  --color-primary: #ddbecd;
  --color-on-tertiary-fixed-variant: #5d4201;
  --color-on-secondary: #29332d;
  --color-on-error: #690005;
  --color-surface-container: #20201f;
  --color-surface-container-high: #2a2a2a;
  --color-on-primary-fixed: #281620;
  --color-inverse-on-surface: #313030;
  --color-surface: #131313;
  --color-on-secondary-container: #b0bbb2;
  --color-surface-container-highest: #353535;
  --color-tertiary-fixed-dim: #e9c176;
  --color-primary-fixed-dim: #ddbecd;
  --color-error: #ffb4ab;
  --color-on-surface: #e5e2e1;
  --color-inverse-surface: #e5e2e1;
  --color-secondary: #bec9c0;
  --color-surface-container-lowest: #0e0e0e;
  --color-error-container: #93000a;
  --color-on-tertiary-fixed: #261900;
  --color-on-secondary-fixed: #141e18;
  --color-surface-tint: #ddbecd;
  --color-outline: #998e92;
  --color-tertiary-fixed: #ffdea5;
  --color-tertiary: #e9c176;
  --color-on-tertiary: #412d00;
  --color-background: #131313;
  --color-surface-container-low: #1c1b1b;
  --color-on-background: #e5e2e1;
  --color-on-tertiary-container: #b7934d;
  --color-secondary-fixed: #dae5dc;
  --color-primary-fixed: #fadae9;
  --color-surface-variant: #353535;
  --color-on-error-container: #ffdad6;
}

}
